# Django Configuration
DEBUG=True
SECRET_KEY=django-insecure-development-secret-key-change-this-in-production
ALLOWED_HOSTS=localhost,127.0.0.1,.onrender.com

# Database Configuration (Defaults to SQLite in local development if database url is not provided)
DATABASE_URL=sqlite:///db.sqlite3

# Automatic Superuser Creation (optional)
CREATE_SUPERUSER_USERNAME=admin
CREATE_SUPERUSER_EMAIL=admin@example.com
CREATE_SUPERUSER_PASSWORD=AdminPassword123
